body {
background-color: #030f11;
font-family: 'Trebuchet MS',sans-serif;
margin: 0;
padding: 0;

}
#container{
    width: 50;
    margin: 10px auto;
    border: 3px solid #8b22a8;
    background-color: #fcfcfc;
    padding: 100px;
    box-shadow:0 0 10px ;
}
#header{
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: medium;
}
#main{
    display: flex;
}
#sidebar{
width: 25%;
background-color: #8b22a8;
padding: 10px;
border-radius: 8px;
font-weight: bold;
}
#content{
width: 70%;
margin-left: 5%;
}
.post{
    border: 2px solid #b2e0df;
    background-color: #fcfcfc;
    padding: 15px;
    border-radius: 8px;
}
.date{
    border: 5px ;
    
}